body{
    display:flex;
    justify-content: center;
    margin-top: 30px;
    background-color: white;
    align-items: center;
}
.innerpart{
    display: inline-block;
    flex-direction: column;
    align-items: center;
    background-color:#f5f5f5;
    border: 2px solid black;
    padding:12px;
    border-radius: 5px;
    width: 350px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);

}
.inp{
    height: 30px;
    border-radius: 5px;
    border: 2px solid wheat;
}
.btn{
    height: 35px;
    border-radius: 5px;
    border: 2px solid wheat;
    background-color: white;
    margin-left: 10px;
}
h2{
    color: blueviolet;
    font-size: 2rem;
}