.Card {
    /* background-color: greenyellow; */
    border: 2px solid black;
    border-radius: 15px;
    margin: 10px;
    width: 250px;
    height: 160px;
    /* background-image: url(assets/react.svg); */
    
}
 