body{
    margin: 0;
}
.joke{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.jokeIn{
    border: 2px dotted red;
    margin: 10px;
    padding: 10px;
    margin-top: -40px;
    color: blue;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.jokeBtn{
    width: 9rem;
    height: 3rem;
    margin: 20px;
    border: 3px solid red;
    background-color: white;
    font-size:1.5rem;
    border-radius: 20px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}
.jokeBtn:hover{
    background-color: blue;
    box-shadow:2px black;
    
}