#footer{
    width: 100%;
    height: 120px;
}
footer{
    background-color: #343d68;
    position: relative;
    margin-top: -1px;
}

.footer-wrapper{
    display: flex;
    gap: 1rem;
    padding: 1.2rem;
    justify-content: space-around;
    align-items: center;
}
.footer-faded-text{
    position: absolute;
    left: 0;
    bottom:0;
    color:#535c87;
    user-select: none;
    font-size: 4em;
}
.link-wrapper{
    display: flex;
    margin-top: 1.5rem;
    
    gap: 1rem;
}
.link-wrapper div a{
    color: white;
    text-decoration: none;
    transition: all 0.6s;
}
.link-wrapper div a:hover{
    color: var(--bgOrange);
    /* cursor: pointer; */
}
.icon-wrapper {
    display: flex;
    margin-top: 1.5rem;
    /* margin: 1.5rem 0 0 5rem; */
    color: white;
    gap: 1rem;
}