 .Card {
     display: flex;
     justify-content: space-around;
     margin-top: 1rem;
     background-color: beige;
 }

 .inner {
     background-color: 	#D8D8D8;
     /* width: 18rem; */
     height: 6rem;
     display: flex;
     padding: 2rem;
     gap: 14px;
     /* color: white; */
     align-items: center;
     justify-content: center;
     border-radius: 10px;
 }
 .ad{
    font-weight: 500;
 }

 .icon {
     font-size: 4rem;
 }

 @media screen and (max-width:999px) {

     .Card{
        position: relative;
      flex-direction: column;
      gap: 2rem;
      padding: 0px 10px;
    }
     /* .Card {
         position:relative;
        bottom: 0;
         left: 0;
         flex-direction: column;
         width: 100%;
     } */
 }