*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: bisque;
}
h2{
    font-weight: 700;
    font-size: 30px;
    color: brown;
    margin: 20px;
}
p{
    margin: 20px;
    font-size: 20px;
}
.container{
    width: 500px;
    left: 35%;
    top:15%;
    position: absolute;
}
input{
    padding: 10px;
    width:50%;
    margin:10px 125px;
    height: 30px;
    border: 1px solid black;
}
button{
    width: 25%;
    height: 40px;
    font-size: 20px;
    color: white;
    background-color: rgb(51, 234, 51);
    border: none;
    border-radius: 10px;
}